body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewer {
    display: flex;
    position: absolute;
    top: 50%;
    width: 800px;
    height: 400px;
    margin-top: -200px;
}

button {
    width: 40px;
}

#view-img {
    width: 720px;
}